html, body {
  overflow: auto;
}

html {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #263238;
  color: #FFF;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 10vw;
  div {
    svg {
      width: 10vw;
    }
    cursor: pointer;
    display: inline-block;
    transition: transform 4s ease;
  }
}